/* Main Container */
.skills-main {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Wrapper that surrounds bars */
.skills-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

/* List of skills that make up bars */
.skills {
  position: relative;
  list-style: none;
  padding: 0;
  font-size: 1rem;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

/* Wrapper for each individual bar */
.skill-bar-wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: #3e4555;
  border-radius: 2px;
  height: 30px;
  margin-bottom: 10px;
}

/* Actual skills bar */
.skill-bar {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 30px;
  background-color: #32e0c4;
  border-radius: 2px 0px 0px 2px;
}

/* Main wrapper for other skills section */
.other-skills-main {
  align-content: center;
  text-align: center;
  margin-top: 1.5rem;
}

/* Container for other skills text */
.other-skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

/* Text styling for AWS text */
.other-skills-aws {
  text-decoration: underline 1px solid #32e0c4;
  font-weight: 500;
  margin-right: 5px;
}

/* Responsive CSS for skill bars */
@media screen and (max-width: 959px) and (min-width: 600px) {
  .skill-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0px 0px 2px;
    left: 0;
    width: 80px;
    height: 30px;
    font-size: 12px;
    background-color: #393e46;
    font-weight: 600;
    color: white;
  }
}
@media screen and (max-width: 599px) {
  .skills {
    width: 100%;
  }
  .skill-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0px 0px 2px;
    left: 0;
    width: 65px;
    height: 30px;
    font-size: 10px;
    background-color: #393e46;
    font-weight: 600;
    color: white;
  }
}

@media screen and (min-width: 960px) {
  .skill-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0px 0px 2px;
    left: 0;
    width: 80px;
    height: 30px;
    font-size: 12px;
    background-color: #393e46;
    font-weight: 600;
    color: white;
  }
}
